body{
    font-family: 'Open Sans', sans-serif;
}
.main{
    height: 100vh;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    position: relative;
    color: #fff;
    min-height: 550px;
}
.main img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.main__title{
    margin: 0;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
}
.main__description{
    font-size: 30px;
    line-height: 40px;
}
.main__line{
    height: 2px;
    width: 215px;
    background-color: #fff;
    margin: 20px auto;
}
.main__wrapper{
    position: relative;
    z-index: 2;
}
.main__overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.8);
}
.main__down{
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 50%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.main__down:hover{
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
}
.main__down::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
}

.skills{
    max-width: 1170px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 100px 0 20px;
}
.skills__item{
    width: 48%;
}
.skills__title{
    width: 100%;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 40px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.skills__progress {
    height: 12px;
    border: 1px solid #009dda;
    padding: 2px;
    position: relative;
    margin-left: 60px;
}
.skills__progress::before{
    content: '';
    position: absolute;
    left: -60px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url("../img/sprite.png") no-repeat;
    width: 52px;
    height: 52px;
}
.skills__html .skills__progress::before{
    background-position: -5px -5px;
}
.skills__css .skills__progress::before{
    background-position: 2px -245px;
}
.skills__js .skills__progress::before{
    background-position: -5px -486px;
}
.skills__photoshop .skills__progress::before{
    background-position: 0 -48px;
    background-size: 50px;
}
.skills__git .skills__progress::before{
    background-position: 0 -246px;
    background-size: 50px;
}
.skills__gulp .skills__progress::before{
    background-position: -5px -366px;
}
.skills__bootstrap .skills__progress::before{
    background-position: -5px -185px;
}
.skills__jquery .skills__progress::before{
    background-position: -5px -424px;
}
.skills__wp .skills__progress::before{
    background-position: -5px -125px;
}
.skills__less .skills__progress::before{
    background-position: -5px -544px;
}
.skills__line {
    height: 6px;
    background: -webkit-linear-gradient(left, red, green 80%);
    background: linear-gradient(90deg, red, green 80%);
    width: 0;
    -webkit-transition: 1s;
    transition: 1s;
}
.skills__name {
    text-align: right;
    font-size: 13px;
    line-height: 20px;
    color: #444444;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.skills__react .skills__progress::before{
    background: url("../img/react.png") center no-repeat;
    background-size: contain;
}
.skills__json .skills__progress::before{
    background: url("../img/json.png") center no-repeat;
    background-size: contain;
}
.skills__php .skills__progress::before{
    background: url("../img/php.png") center no-repeat;
    background-size: contain;
}
.skills__linux .skills__progress::before{
    background: url("../img/linux.png") center no-repeat;
    background-size: contain;
}
.skills__name span{
    padding-left: 30px;
    color: red;
}
.skills__item {
    margin-bottom: 35px;
}

.wrapper{
    background: -webkit-linear-gradient(#fff, #000);
    background: linear-gradient(#fff, #000);
}
.portfolio{
    text-align: center;
    padding: 60px 15px 30px;
    overflow: hidden;
}

.portfolio__work{
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.portfolio__title{
    font-size: 36px;
    line-height: 40px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #fff;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}
.portfolio__subtitle{
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-shadow: 1px 1px 10px #fff;
    font-family: 'Oswald', sans-serif;
}
.portfolio__text{
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    font-weight: bold;
    text-shadow: 1px 1px 10px #fff;
    margin-top: -30px;
    margin-bottom: 50px;
}
.portfolio img{
    width: 100%;
    /*max-width: 250px;*/
    height: 350px;
    box-shadow: 0 4px 29px 0 rgba(87, 92, 97, .54);
    position: absolute;
    left: 0;
    -webkit-transform: perspective(600px) rotateY(0);
    transform: perspective(600px) rotateY(0);
    -webkit-transition: 1s;
    transition: 1s;
}
.portfolio__img{
    position: relative;
    -webkit-transition: .5s;
    transition: .5s;
    height: 350px;
    max-width: 300px;
    width: 100%;
}
.portfolio__img:hover img{
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg);
}
.portfolio__img:hover .overlay{
    -webkit-transform: perspective(600px) rotateY(0);
    transform: perspective(600px) rotateY(0);
}
.overlay{
    position: absolute;
    /*width: 250px;*/
    height: 100%;
    width: 100%;
    /*transform: translateX(0);*/
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}
.portfolio__wrapper a{
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    max-width: 200px;
    margin: 20px auto 50px;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    -webkit-transform: translateY(300%);
    transform: translateY(300%);
    -webkit-transition: -webkit-transform 1.5s;
    transition: -webkit-transform 1.5s;
    transition: transform 1.5s;
    transition: transform 1.5s, -webkit-transform 1.5s;
    opacity: 0;
    background-color: #000;
    padding: 5px;
    box-shadow: 0 0 20px #fff;
}
.portfolio__img:hover a{
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 1;
}
.portfolio a:hover{
    text-decoration: none;
    box-shadow: 0 0 40px #1ab798;
    -webkit-transition: .5s;
    transition: .5s;
    color: #1ab798;
}
.portfolio a:focus{
    text-decoration: none;
    outline: none;
}

.hobbies{
    text-align: center;
    padding-bottom: 70px;
}
.hobbies__title{
    font-size: 36px;
    line-height: 40px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 20px #fff;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}
.hobbies__subtitle{
    font-size: 18px;
    line-height: 28px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-shadow: 1px 1px 10px #fff;
    font-family: 'Oswald', sans-serif;
    position: relative;
    padding-left: 50px;
}
.hobbies__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.hobbies__subtitle::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
}
.hobbies__football::before{
    background: url('../img/football.png') center no-repeat;
    background-size: cover;
}
.hobbies__hiking::before{
    background: url('../img/hiking.png') center no-repeat;
    background-size: contain;
}
.hobbies__ping-pong::before{
    background: url('../img/ping-pong.png') center no-repeat;
    background-size: cover;
}

footer{
    text-align: center;
    background-color: black;
    color: #e4e4e4;
    padding: 40px 0;
    font-size: 22px;
    line-height: 30px;
}
.footer__small{
    font-size: 16px;
    line-height: 22px;
}
.footer__social a{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 47px;
    border: 1px solid #e4e4e4;
    border-radius: 50%;
    -webkit-transition: .2s;
    transition: .2s;
    color: #e4e4e4;
    margin: 0 10px;
}
.footer__social a:hover{
    background-color: #e4e4e4;
    color: #646464;
}
.footer__phone{
    text-decoration: none;
    color: #ffffff;
}
.offer-btn{
    color: #e4e4e4;
    border: 1px solid #e4e4e4;
    border-radius: 20px;
    display: block;
    font-size: 18px;
    padding: 5px 0;
    -webkit-transition: .2s;
    transition: .2s;
    max-width: 250px;
    margin: 0 auto;
}
.offer-btn:hover{
    color: #646464;
    background-color: #e4e4e4;
    text-decoration: none;
}

/*modal windows*/

.modal-body img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.close{
    position: absolute;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
}
.modal-btn{
    display: inline-block;
    color: #333333;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 10px;
}
.modal-btn:hover{
    background-color: #333;
    color: #ffffff;
    text-decoration: none;
}
.modal-dialog{
    width: 90%;
    margin: auto;
}

/*media*/

@media (min-width: 0) and (max-width: 600px){
    .main__title{
        font-size: 30px;
    }
    .main__description{
        font-size: 20px;
        line-height: 27px;
    }

    .portfolio{
        padding: 40px 15px 20px;
    }
    .portfolio__title{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 50px;
    }
    .footer__small,
    .footer__social{
        margin-bottom: 40px;
    }
    .skills__item{
        width: 100%;
    }
    .skills__title{
        font-size: 24px;
        line-height: 30px;
    }
}

@media (max-width: 767px) {
    .portfolio__img{
        /*overflow: hidden;*/
    }
    .portfolio__img:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .portfolio__img img{
        position: static;
        -webkit-transform: none;
        transform: none;
    }
    .portfolio__img:hover img{
        -webkit-transform: none;
        transform: none;
    }
    .overlay{
        opacity: 0;
        left: 50%;
        top: 0;
        bottom: -1px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .portfolio__img:hover .overlay{
        opacity: 1;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 0;
    }
}

@media (min-width: 600px){
    .portfolio img{
        width: 300px;
        height: 350px;
        max-width: 400px;
    }
    .overlay{
        width: 300px;
    }
}

@media (max-width: 1199px) {
    .skills{
        padding: 80px 30px 20px;
    }
}